.header {
	background: $bg-header;
	z-index: 9999;
}

.headerLine {
	border-bottom: 1px solid $border-header;
}

.topBlock {
	display: flex;
	justify-content: flex-start;
	color: $bwhite;
	align-items: center;
	@include sm-block {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.search {
	border-right: 1px solid $border-header;
	border-left: 1px solid $border-header;

	&__link {		
		display: block;
		padding: 22px 29px;
		font-size: 18px;
		color: $bwhite;
		&:hover {
			color: $bwhite;
		}
	}
}

.topMenu {
	border-right: 1px solid $border-header;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.hamburger {
	list-style-type: none;
	margin: 0;
	padding-left: 28px;
	padding-right: 49px;
	display: flex;
	justify-content: center;

	&__ico {
		font-size: 20px;
		margin-right: 27px;
	}
}

.select {
	display: block;
	font-size: 10px;
	line-height: 11px;
}

.select-a {
	font-size: 14px;
	font-family: $poppins-medium;
	display: block;
}

.logo {
	width: 72.2%;
	text-align: center;
	@include sm-block {
		width: 100%;
		border-bottom: 1px solid $border-header;
	}

	&__link {
		@include inline-block;
		font-family: $montserrat;
		font-weight: bold;
		text-transform: uppercase;
		color: $bwhite;
		letter-spacing: 2.1px;
		font-size: 21px;
		@include sm-block {
			padding-top: 22px;
			padding-bottom: 22px;
		}

		&:hover {
			color: $bwhite;
		}
	}
}

.account {
	border-left: 1px solid $border-header;

	&__link {
		color: $bwhite;
		font-size: 18px;
		padding: 22px 29px;
		display: block;

		&:hover {
			color: $bwhite;
		}
	}
}

.favorites {
	border-left: 1px solid $border-header;

	&__link {
		color: $bwhite;
		font-size: 18px;
		padding: 22px 29px;
		display: block;

		&:hover {
			color: $bwhite;
		}
	}
}

.shoppingCart {
	border-left: 1px solid $border-header;
	border-right: 1px solid $border-header;
	position: relative;

	&__link {
		color: $bwhite;
		font-size: 18px;
		padding: 22px 29px;
		display: block;
		position: relative;

		&:hover {
			color: $bwhite;
		}
	}

	&__qnt {
		position: absolute;
		top: 13px;
		right: 18px;
		background: $accent;
		font-size: 11px;
		color: $bwhite;
		padding: 1px 6px;
		border-radius: 50%;
	}
}

.ord1 {
	@include sm-block {
		order: 1;
	}
}

.ord2 {
	@include sm-block {
		order: 2;
	}
}

.topMenu {
	@include xs-block {
		order: 3;
		width: 100%;
		border-top: 1px solid $border-header;
	}
}

// DROPDOWN MENU

.topMenu {
	position: relative;
}

.dropDown {
	position: absolute;
	top: 101%;
	left: 0;
	background: $accent;
	display: flex;
	justify-content: space-arround;
	padding: 75px;
	cursor: default;
}

.h2-dropdown {
	font-size: 18px;
	font-family: $oswald;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
}

.dropDown {
	display: none;

	&__item {
		padding-left: 75px;
		padding-right: 75px;
		white-space: nowrap;
		border-right: 1px dotted rgba(255, 255, 255, .3);

		&:last-child {
			border-right: none;
			padding-right: 0;
		}

		&:first-child {
			padding-left: 0;
		}

	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__link {
		color: #bdc7fc;
		font-family: $poppins;
		font-size: 12px;

		&:hover {
			color: #bdc7fc;
			text-decoration: underline;
		}
	}
}

.common {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__link {
		font-family: $poppins-medium;
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 35px;
		display: block;
		color: #fff;

		&:hover {
			color: #fff;
		}
	}
}

.address-item {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 55px;
}

.icon-box {
	font-size: 33px;
	margin-right: 29px;
	color: #fff;
}

.address {
	&__title {
		font-size: 10px;
		text-transform: uppercase;
		font-family: $poppins-medium;
		letter-spacing: 2px;
		color: #fff;
	}

	&__text {
		font-size: 10px;
		color: #bdc7fc;
	}
}

// .topBlock:hover {
// 	.dropDown {
// 		display: flex;
// 	}
// }