.tabs {
	@include row-flex();
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
}

.tab {
	@include col();
	@include size(4);
	text-align: center;
	display: block;
	font-family: $poppins-medium;
	text-transform: uppercase;
	color: #888;
	cursor: pointer;
	font-size: 12px;	
	background: #f7f7f7;
	border-left: 1px solid #e6e6e6;
	height: 75px;
	padding-top: 30px;
	padding-bottom: 30px;

	&:first-child {
		border-left: none;
	}
}















.active-tab {
	background: $accent;
	color: #fefeff;
	border-left: none;
}

// POP Product (tabs)

.tab_card--grid {
	@include row-flex();
	justify-content: space-between;
}

.tab_card--right,
.tab_card--left {
	@include col();
	@include size(3);
}

.tab_card--center {
	@include col();
	@include size(6);
}

.popProduct-card {
	width: 100%;
}

.popProduct-card--big {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.popProduct-title--big {
	margin-top: auto;
}