.shop-wind {
	min-height: 750px;
	@include row-flex;
	justify-content: space-between;
	@include md-block {
		min-height: auto;
	}
}

.shop-wind__left {
	@include col;
	@include size(8);
	@include size-md(12);
	display: flex;
	flex-direction: column;
}

.shop-wind__right {
	@include col;
	@include size(4);
	@include size-md(12);
}

.sw__left--top,
.sw__left--bottom {
	flex-grow: 1;
	height: 50%;
	@include xs-block {
		height: auto;
	}
}

.sw__left--bottom {
	display: flex;
	justify-content: space-between;
	@include xs-block {
		flex-wrap: wrap;
	}
}

.sw__item {
	flex-grow: 1;
	@include xs-block {
		width: 100%;
	}
}

.shop-wind__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include md-block {
		min-height: 375px;
	}
}

.shop-wind__right {
	.pr-wrapper {
		margin-top: auto;
		margin-bottom: 45px;
	}
}

.shop-wind__item {
	padding: 60px;
	color: #fff;
	@include md-block {
		padding: 40px;
	}
}

.bg-bicycle {
	background-image: url(../img/promo/bysicle.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.bg-jacket {
	background-image: url(../img/promo/nike-jacket-mens.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.bg-sneakers {
	background-image: url(../img/promo/mounting-running.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.bg-bicycleEq {
	background-image: url(../img/promo/bicycle-eq.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	@include md-block {
		background-position: right center;
	}
}

.bg-blue {
	background-color: #4aa0d1;
}

.bg-puple {
	background-color: #7e6ee5;
}

.bg-yellow {
	background-color: #fec230;
}

.shop-wind__right {
	background-color: #555868;
}

.color-black {
	color: #111;
}

.sw-label {
	font-family: $poppins-medium;
	background: #111;
	font-size: 11px;
	padding: 4px 7px;
	display: inline-block;
	border-radius: 3px;
}

.sw-category {
	font-family: $poppins-medium;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	line-height: 12px;
	font-weight: normal;
	margin-bottom: 22px;
}

.sw-product {
	font-size: 25px;
	font-family: $oswald;
	line-height: 30px;
}

.sw-more__info {
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
	padding: 17px 48px 21px 46px;
	font-size: 14px;
	line-height: 14px;
	font-family: $poppins-medium;
	box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1), inset 0px 1px 0 0 rgba(255, 255, 255, 0.1);
	border-radius: 35px;
	display: inline-block;

	&:hover {
		color: #fff;
	}
}

.link-black {
	color: #111;

	&:hover {
		color: #111;
	}
}