.socialTop {
	@include row-flex();
	justify-content: space-between;
	align-items: stretch;
}

.sNetBlock {
	@include col();
	@include size(3);
	@include size-md(6);
	@include size-xs(12);
	padding-top: 74px;
	padding-bottom: 72px;
	text-align: center;
	color: #fff;
	@include md-block {
		order: 1;
	}
	@include xs-block {
		order: 2;
	}
}

.ltSlider {
	@include col();
	@include size(6);
	@include size-md(12);
	@include md-block {
		order: 2;
	}
	@include xs-block {
		order: 1;
	}
}

.sNetBlock,
.ltSlider {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.sNetTW {
	background: #49b8f1;
}

.sNetFB {
	background: #2941b9;
}

.sNetBlock__ico {
	font-size: 22px;
	margin-bottom: 20px;
}

.sNetTitle {
	margin-bottom: 70px;
}

.sNetTags__link {
	color: #fff;
	font-size: 14px;

	&:hover {
		color: #fff;
	}
}

.sNetName {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.sNetFollowers {
	font-size: 48px;
	font-family: $oswald;
	line-height: 48px;
}

.ltSlider {
	padding: 60px;
	position: relative;
}

.ltSlider__title {
	font-size: 12px;
	text-transform: uppercase;
	color: #bbb;
	@include md-block {
		margin-bottom: 20px;
	}
}

.tweet__text {
	font-size: 20px;
	color: #111;

	@include md-block {
		margin-bottom: 30px;
	}

	a {
		color: $accent;

		&:hover {
			color: $accent;
		} 
	}
}

.tweetAutor__nick {
	font-size: 12px;
	color: #111;
	font-weight: bold;
	margin-bottom: 5px;
}

.tweetAutor__time {
	font-size: 12px;
	color: #bbb;
}

.ltSlider__btn {
	position: absolute;
	bottom: 60px;
	right: 60px;
	font-size: 0;
}

.btn__prew,
.btn__next {
	color: #bbb;
	border: 1px solid #ddd;
	padding-top: 12px;
	padding-bottom: 12px;
	display: inline-block;
	font-size: 16px;

	&:hover {
		color: rgba(187, 187, 187, .7);
	}
}

.btn__prew {
	border-right: none;
	padding-left: 23px;
	padding-right: 18px;
	border-radius: 20px 0 0 20px;
}

.btn__next {
	padding-right: 23px;
	padding-left: 18px;
	border-radius: 0 20px 20px 0;
}

// INSTAGRAM

.instTop {
	@include row-flex();
	justify-content: space-between;
	align-items: strech;
}

.instTop-item {
	@include col();
	@include size(3);
	@include size-md(6);
	@include size-xsm(12);
	text-align: center;
	overflow: hidden;
	@include xsm-block {
		order: 2;
	}
}

.sNetInst {
	background: #232323;
	padding-top: 35px;
	padding-bottom: 35px;

	@include md-block {
		padding-top: 74px;
		padding-bottom: 72px;
	}

	@include xsm-block {
		order: 1;
	}
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;

	.sNetBlock__ico {
		color: $accent;
		margin-bottom: auto;
		@include xsm-block {
			margin-bottom: 20px;
		}
	}

	.sNetName {
		color: #666666;
	}

	.sNetTitle {
		margin-bottom: auto;

		@include xsm-block {
			margin-bottom: 70px;
		}
	} 

	.sNetFollowers {
		color: #fff;
	}
}

.insTop-link {
	display: block;
	img {
		max-width: 100%;
		height: auto;
		@include md-block {
			width: 100%;
		}
	}
}