.socialTop {
	@include row-flex();
	justify-content: space-between;
	align-items: stretch;
}

.sNetBlock {
	@include col();
	@include size(3);
	padding-top: 74px;
	padding-bottom: 72px;
	text-align: center;
	color: #fff;
}

.ltSlider {
	@include col();
	@include size(6);
}

.sNetBlock,
.ltSlider {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.sNetTW {
	background: #49b8f1;
}

.sNetFB {
	background: #2941b9;
}

.sNetBlock__ico {
	font-size: 22px;
	margin-bottom: 20px;
}

.sNetTitle {
	margin-bottom: 70px;
}

.sNetTags__link {
	color: #fff;
	font-size: 14px;

	&:hover {
		color: #fff;
	}
}

.sNetName {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.sNetFollowers {
	font-size: 48px;
	font-family: $oswald;
	line-height: 48px;
}

.ltSlider {
	padding: 60px;
	position: relative;
}

.ltSlider__title {
	font-size: 12px;
	text-transform: uppercase;
	color: #bbb;
}

.tweet__text {
	font-size: 20px;
	color: #111;

	a {
		color: $accent;

		&:hover {
			color: $accent;
		} 
	}
}

.tweetAutor__nick {
	font-size: 12px;
	color: #111;
	font-weight: bold;
	margin-bottom: 5px;
}

.tweetAutor__time {
	font-size: 12px;
	color: #bbb;
}

.ltSlider__btn {
	position: absolute;
	bottom: 60px;
	right: 60px;
	font-size: 0;
}

.btn__prew,
.btn__next {
	color: #bbb;
	border: 1px solid #ddd;
	padding-top: 12px;
	padding-bottom: 12px;
	display: inline-block;
	font-size: 16px;

	&:hover {
		color: #bbb;
	}
}

.btn__prew {
	border-right: none;
	padding-left: 23px;
	padding-right: 18px;
	border-radius: 20px 0 0 20px;
}

.btn__next {
	padding-right: 23px;
	padding-left: 18px;
	border-radius: 0 20px 20px 0;
}